<div class="attachment-highlight-container container">
  <div class="icon">
    <svg-icon name="attachment" [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"></svg-icon>
  </div>
  <span>3</span>
</div>
