<div class="card container">
  <ng-container *ngIf="card.title">
    <span class="header">{{card.title}}</span>
  </ng-container>
  <ng-container *ngIf="card.has_attachments">
    <app-card-attachment-highlights></app-card-attachment-highlights>
  </ng-container>
  <ng-container *ngFor="let childContent of card.children">
    <ng-template [ngIf]="childContent.type === ContentTypes.TEXT_WITH_IMAGE">
      <app-card-content-text-image></app-card-content-text-image>
    </ng-template>
    <ng-template [ngIf]="childContent.type === ContentTypes.VIDEO">
      <app-video-player></app-video-player>
    </ng-template>
    <ng-template [ngIf]="childContent.type === ContentTypes.MEMBERS">
      <app-card-task-members></app-card-task-members>
    </ng-template>
    <ng-template [ngIf]="childContent.type === ContentTypes.DONE">
      <app-card-done-button [color]="color"></app-card-done-button>
    </ng-template>
    <ng-template [ngIf]="childContent.type === ContentTypes.BOTTOM_FILL_IMAGE">
      <div class="container bottom-image-container">
        <img src="https://picsum.photos/id/1016/600/400" alt="" class="bottom-fill-image" />
      </div>
    </ng-template>
  </ng-container>
</div>
