.card {
  margin-top: 13px;
  border-radius: 6px;
  border: solid 1px #e8e8e8;
  padding: 30px 10px 30px 10px;
  flex-direction: column;
  .header {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .bottom-image-container {
    margin: 0 -10px -30px -10px;
  }
  .bottom-fill-image {
    width: 100%;
    height: 114px;
    border-radius: 6px;
  }
}
