<div class="video-wrapper" (click)="toggleVideo($event)">
  <video #videoPlayer src="//clips.vorwaerts-gmbh.de/VfE_html5.mp4" poster="//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/poster.png"></video>
  <svg-icon *ngIf="!isPlaying" name="play-color" class="video-overlay-play-button" [svgStyle]="{ 'width.px': '100' }"></svg-icon>
</div>
