.video-wrapper {
  margin-top: 8px;
  opacity: 0.56;
  border-radius: 8px;
  background-color: #000000;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.video-wrapper > video {
  width: 100%;
  border-radius: 8px;
  vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20% calc(50% - 50px);
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0.95;
  cursor: pointer;
  background-image: linear-gradient(transparent, #000);
  transition: opacity 150ms;
}

.video-overlay-play-button:hover {
  opacity: 1;
}

.video-overlay-play-button.is-hidden {
  display: none;
}
