@import "_styling";

%button-size {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.card-task-members {
  justify-content: space-between;
  margin-top: 14px;
  .button--add_small {
    @extend %button-size;
    background-color: #f9f8fc;
  }
  .members--total {
    @extend %button-size;
    background-color: map_get($butterfly-them, 'orange');
    margin-left: -10px;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    color: white;
    align-items: center;
    justify-content: center;
  }
  .member-avatar {
    &:first-of-type {
      margin-left: 15px;
    }
    @extend %button-size;
    margin-left: -10px;
  }
  .status-container {
    align-items: center;
    .line {
      height: 2px;
      width: 25px;
      border-radius: 1px;
      margin-right: 3px;
      background-color: #7148fc;
      &:nth-child(1) {
      }
      &:nth-child(2) {
        opacity: 0.59;
      }
      &:nth-child(3) {
        opacity: 0.25;
      }
    }
  }
}
