<div class="card-task-members container">
  <div class="container">
    <div class="button--add_small">
      <svg-icon name="plus-gray" [svgStyle]="{ 'width.px': '18', 'height.px': '10', 'padding.px':'2', 'fill': '#a9a9a9' }"></svg-icon>
    </div>
    <img src="https://picsum.photos/id/1012/40/40" class="member-avatar" />
    <img src="https://picsum.photos/id/1001/40/40" class="member-avatar" />
    <img src="https://picsum.photos/id/1005/40/40" class="member-avatar" />
    <img src="https://picsum.photos/id/1011/40/40" class="member-avatar" />
    <div class="members--total container">
      <span>+4</span>
    </div>
  </div>
  <div class="status-container container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
