// Environment
$debug: false !default;

// Colors
$butterfly-them: (
  "secondary": #f5f7fa,
  "secondary-700": #f9f8fc,
  "secondary-900": #ffffff,
  "dark": #000000,
  "dark-200": #292754,
  "gray": #999999,
  "warm-grey": #999999,
  "gray-100": #dadada,
  "gray-200": #a9a9a9,
  "gray-300": #f0f0f0,
  "gray-400": #d7d6d6,
  "gray-600": #bababa,
  "primary": #7148fc,
  "primary-100": #3023ae,
  "primary-600": #834bc4,
  "pink": #c86dd7,
  "green": #04cda0,
  "green-200": #36d7b3,
  "orange": #f5a623,
  "blue": #4a90e2,
);

$blue: #1565c0;
$blue-light: #3b83d5;
$gray: #333;

$primary-color: map_get($butterfly-them, 'primary');
$primary-bg-color: map_get($butterfly-them, 'secondary');
$secondary-bg: map_get($butterfly-them, 'secondary-900');
$text-primary: map_get($butterfly-them, 'warm-grey');
// Font Colors
$font-color--base: $gray;
$action-color: $primary-color;
$action-color--alt: lighten($primary-color, 20);

// Background Colors
$viewport-background-color: $primary-bg-color;

// Sizes
$header-height: 116px;
:root {
  // Typography
  --font-family: 'Roboto';
  --font-family--heading: var(--font-family);

  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;

  // Borders
  --border-width: 0;
  --border: none;

  // Focus
  --focus-outline-width: 0;
  --focus-outline-offset: 0;
  --focus-outline: none;

  // Animations
  --duration: 150ms;
  --timing: ease;
}
