$ratio: 53px;

.fab-container {
  position: fixed;
}
.left-bottom {
  bottom: $ratio;
  left: $ratio;
}
.right-bottom {
  bottom: $ratio;
  left: $ratio;
}
button {
  border-radius: 59%;
  height: 79px;
  width: 79px;
}
