@import "_styling";

.board {
  @include prefixer(flex-flow, column nowrap, ("webkit"));
  padding-bottom: 46px;
  .board-switcher-container {
    align-items: center;
    justify-content: center;
  }
  .card-list--container {
    padding-left: span(0.3);
  }
  .board-list-container {
    margin-right: 20px;
  }
}
