<div class="board container">
  <div class="board-switcher-container container">
    <app-board-switcher></app-board-switcher>
  </div>
  <div class="card-list--container container">
    <ng-container *ngFor="let boardList of (board$ | async)?.lists">
      <div class="board-list-container">
        <app-board-card-list [boardList]="boardList"></app-board-card-list>
      </div>
    </ng-container>
  </div>
  <app-fab></app-fab>
</div>
