<div class="card-list container">
  <div class="header container" data-span="12">
    <div data-span="0.5">
      <div class="icon" [ngStyle]="{ borderColor: boardList.color }"></div>
    </div>
    <div class="title" data-span="10" [ngStyle]="{ color: boardList.color }">
      {{boardList.title}}
    </div>
  </div>
  <div class="cards container">
    <ng-container *ngFor="let card of boardList.cards">
      <app-card [card]="card" [color]="boardList.color"></app-card>
    </ng-container>
  </div>
</div>
<button class="full-button">Add card</button>
