@import "_styling";

.card-list {
  width: 323px;
  //height: 547px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  flex-direction: column;
  padding: 47px 30px 47px 30px;
  .header {
    margin-bottom: 23px;
    height: 21px;
    align-items: center;
    //justify-content: center;
    .icon {
      width: 7px;
      height: 7px;
      border: solid 1px #7148fc;
      border-radius: 50%;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
    }
  }
  .cards {
    flex-direction: column;
  }
}
.full-button {
  margin-top: 19px;
  width: 323px;
  height: 60px;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #d7d6d6;
}
