<div class="search container">
  <svg-icon name="search" [svgStyle]="{ 'width.px': '104' }" data-span="2"></svg-icon>
  <input placeholder="Search..." class="search-input" data-span="2" type="search" />
</div>
