.search {
  align-items: center;
  .search-input {
    font-family: 'Roboto-LightItalic', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: var(--warm-grey);
  }
}
