@import "_styling";

.board-switcher {
  height: 86px;
  width: 284px;
  background-color: map_get($butterfly-them, 'gray-300');
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  .board-avatar {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: map_get($butterfly-them, 'primary');
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: map_get($butterfly-them, 'secondary-900');
  }
  .text-with-description {
    font-size: 21px;
    @include prefixer(flex-flow, column nowrap, ("webkit"));
    padding-left: 14px;
    .title {

    }
    .description {
      height: 18px;
      font-size: 15px;
      color: map_get($butterfly-them, 'gray-600');
    }
  }
  .icon-container {
    margin-top: -15px;
    align-items: center;
    justify-content: center;
  }
}
