
<div class="board-switcher container">
  <span class="board-avatar container">N</span>
  <span class="text-with-description container">
    <span class="title" data-span="6">Nasaq Team</span>
    <span class="description" data-span="6">UI/UX Board</span>
  </span>
  <div class="icon-container container" data-span="1">
    <svg-icon name="arrow-down" [svgStyle]="{ 'width.px': '100' }"></svg-icon>
  </div>
</div>
