$height: 102px;
.done-button-container {
  justify-content: center;
  height: $height;
  align-items: stretch;
  margin: -30px -10px -30px -10px;
  padding: 0;
  button {
    align-items: stretch;
    height: $height;
    width: 100%;
  }
}
