@import "_styling";
.header {
  height: $header-height;
  background-color: $secondary-bg;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    color: $text-primary;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    .title {
      margin-left: -23px;
      line-height: 20px;
    }
  }
  .header--title {
    color: $primary-color;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
  }
  .header--actions {
    text-align: end;
    .header--actions_avatar {
      height: 38px;
      width: 38px;
      border-radius: 10px;
      background-color: $primary-bg-color;
    }
  }
  .welcome-section {
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    span {
      height: 38px;
    }
    .welcome-section_greeting {
      color: $primary-color;
      font-style: italic;
      font-weight: 900;
    }
    .welcome-section_username {
      white-space: pre;
      text-overflow: ellipsis;
    }
  }
}
