<header class="header container">
  <div class="menu container" data-span="2">
    <svg-icon name="menu" [svgStyle]="{ 'width.px': '104' }"></svg-icon>
    <span class="title">Boards</span>
  </div>
  <div class="header--title" data-span="2">
    Nello.
  </div>
  <div class="header--actions container" data-span="2">
    <div class="search-section" data-span="3">
      <app-search></app-search>
    </div>
    <div class="header--actions_avatar container" data-span="6">
      <img src="https://picsum.photos/id/1025/64/64" alt="" class="header--actions_avatar" />
    </div>
    <div class="welcome-section container" data-span="1">
      <span class="welcome-section_greeting" data-push="0.5" data-span="2">Hi,&nbsp;</span>
      <span data-span="2" class="welcome-section_username"> Khalid</span>
      <span data-span="2">
        <svg-icon name="arrow-down" [svgStyle]="{ 'width.px': '100' }"></svg-icon>
      </span>
    </div>
  </div>
</header>
