@import "_styling";

.content--container {
  flex-direction: row;
  .content--text {
    width: 110px;
    height: 65px;
    line-height: 1.86;
    font-size: 7px;
    margin-right: 12px;
    color: map_get($butterfly-them, 'dark-200');
  }
  .content--image {
    width: 117px;
    height: 81px;
    border-radius: 8px;
  }
}
