<div class="content--container container">
  <div class="content--text">
    Lorem Ipsum is simply dummy text
    of the printing and typesetting
    industry. Lorem Ipsum has been
    the industry's standard dummy text
    ever since the 1500s
  </div>
  <img src="/assets/coffee.jpeg" alt="" class="content--image"/>
</div>
